
.actions:not(.pinned) .btn-fab .unpin {
  display: none;
}
.hidden-indicator {
  position: relative;
  z-index: 1;

  > .badge {
    display: flex;
    align-items: center;
    margin: 0 !important;

    .material-icons {
      font-size: 1rem;
      margin-right: 0.2rem;
    }
  }
}

.list-item {
  .item-wrapper {
    .table-item-wrapper {
        display: flex;
        align-items: center;
        height: auto;
      }
  }
}

.table-list-component .virtual-table-list .sub-item {
  .title {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .badge {
    min-width: auto;
    flex-grow: 1;
    max-width: none;
    text-align: right;
  }
}
